{% extends "_layouts/site.twig" %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <div class="row">
                        <div class="col-lg-9">
                            <h1>Gallery</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">

        <!-- SECTION FILTER
        ================================================== -->
        {#{% set entries = craft.entries({#}
            {#section:'gallery',#}
            {#with:['image']#}
            {#}).limit(null).all()#}
        {#%}#}

        {% set galleryItems = craft.entries({
        section:'gallery',
        with:['image']
        }).ids()
        %}

        {% set categories = craft.categories.group('gallery').relatedTo(galleryItems) %}
        <div class="row">
            <div class="col-lg-12">

            </div>
            <div class="col-lg-12 category-description">
                <h4 class="catDesc"></h4>
            </div>
        </div>
        <!-- galcont -->
        <div class="row">
            <div class="col-lg-8 ">
                {% for category in categories.all() %}

                        <div class="col-12">
                            <h3>{{ category.title }}</h3>
                            <p>{{ category.categoryDescription }}</p>
                        </div>

                <div class="row portfolioContainer  m-b-30 ">
                    {% set gallery = craft.entries.relatedTo(category) %}
                    {% for entry in gallery %}

                        {% set image = entry.image[0] ?? null %}

                        {% set tags = entry.MediumUsed %}


                        {% if image %}
                        {% set thumb = {
                        mode: 'fit',
                        width: 550,
                        quality: 85
                        } %}

                            <div class="col-xs-12 col-sm-6 col-lg-4 natural {{ entry.category.one().slug }}">
                                {#<a href="work-detail.html">#}
                                <div class="portfolio-box">
                                    <div class="portfolio-box-img" data-src="{{ image.getUrl() }}">
                                        {# Get the eager-loaded asset, if there is one #}

                                        {#<img src="{{ image.url }}" class="img-fluid" alt="member-image">#}
                                        <img class="img-fluid" alt="{{ entry.title }} - {% for tag in tags.all() %}{{ tag }}{% endfor %} - width: {{ entry.width }}cm, height: {{ entry.height }}cm" title="{{ entry.title }}"
                                             src="{{ image.getUrl(thumb) }}">
                                    </div>
                                </div>
                            </div>
                                {% endif %}

                    {% endfor %}
                </div>
                    <hr>
                {% endfor %}<!-- end cat loop -->
            </div>
            <div class="col-lg-4 pl-sm-0 pl-md-5 ">
                <div class="portfolioFilter mt-3">
                    <h3>Categories</h3>
                    <ul class="list-unstyled">


                        <li>
                            <a href="#" data-filter="*" class="all current waves-effect waves-success">All</a>
                        </li>
                        {% for category in categories.all() %}
                            <li>
                                <a href="#" data-filter=".{{ category.slug }}" data-cat-title="{{ category.title }}" data-cat-desc="{{ category.categoryDescription }}" class="waves-effect waves-success">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div> <!-- end container -->
</section>

{% endblock %}
