{% extends "_layouts/site.twig" %}
{%  set bodyClass = 'contact form' %}
{% block content %}

    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1><span>Let's</span> keep in touch.</h1>

                                <h4 class="subtitle text-muted">Please leave your details below or call me directly on the mobile number.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-t-30">
        <div class="container h-100">

            <div class="row margin-t-50">
                <div class="col-lg-4 address-box">
                    <div>
                        <h5>Email Address</h5>
                        <p class="text-muted">hello@ashleyluff.com</p>
                    </div>
                    <div class="margin-t-30">
                        <h5>Telephone</h5>
                        <p class="text-muted">+447808987213</p>
                    </div>
                    <div class="margin-t-30">
                        <h5>Address</h5>
                        <p class="text-muted">The studio, Brighton</p>
                    </div>
                </div>
                <div class="col-lg-8">


                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}

                    {% from _self import errorList %}

                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="guest-entries/save">
                        <input type="hidden" name="sectionUid" value="fa37ebf7-8df6-4338-91b4-8f6d05a75c2c">
                        {{ redirectInput('contact/thanks') }}





                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <input  class="form-control" placeholder="Your Name" id="title" type="text" name="title" required>
                                    {#{% if entry is defined %}#}
                                        {#{{ errorList(entry.getErrors('title')) }}#}
                                    {#{% endif %}#}


                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your Email" id="from-email" type="email" name="fromEmail" required>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">

                                    <input class="form-control" placeholder="Subject" type="text"  id="subject" name="fields[subject]" value="{{ message.subject ?? '' }}" required>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Your Message...." rows="10" cols="40" id="message" name="fields[message]" required>{{ message.message ?? '' }}</textarea>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                {{ craft.recaptcha.render() }}
                                <input type="submit" class="btn btn-dark btn-rounded" value="Send">
                            </div>
                        </div>



                    </form>
                </div>
            </div>


        </div> <!-- end container -->
    </section>








{#<form method="post" action="" accept-charset="UTF-8">#}
    {#{{ csrfInput() }}#}
    {#<input type="hidden" name="action" value="contact-form/send">#}
    {#{{ redirectInput('contact/thanks') }}#}

    {#<h3><label for="from-name">Your Name</label></h3>#}
    {#<input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">#}
    {#{{ message is defined and message ? errorList(message.getErrors('fromName')) }}#}

    {#<h3><label for="from-email">Your Email</label></h3>#}
    {#<input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">#}
    {#{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}#}

    {#<h3><label for="subject">Subject</label></h3>#}
    {#<input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">#}
    {#{{ message is defined and message ? errorList(message.getErrors('subject')) }}#}

    {#<h3><label for="message">Message</label></h3>#}
    {#<textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>#}
    {#{{ message is defined and message ? errorList(message.getErrors('message')) }}#}

    {#<input type="submit" value="Send">#}
{#</form>#}
{% endblock %}