{% extends "_layouts/site.twig" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <h1 class="mt-0">{{ entry.mainHeaderText }}</h1>
                        </div>
                        <div class="col-lg-6">
                            {% set image = entry.image[0] ?? null %}
                            {% if image %}
                            {% set thumb = {
                                mode: 'fit',
                                width: 550,
                                quality: 85
                            } %}
                            {% endif %}
                            <img class="img-fluid" alt="{{ entry.title }}" src="{{ image.getUrl(thumb) }}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section mt-5">
    <div class="container">

        <!-- SECTION FILTER
        ================================================== -->

        {% set entries = craft.entries({
        section:'gallery',
        with:['image']
        }).limit(null).all()
        %}
        {% set categoriesGroup = craft.categories.group('gallery').relatedTo(entries).orderBy('RAND()') %}

        {# Fetch the categories #}
        {% set category = categoriesGroup.one() %}


        <div class="row mt-5 mb-2">
            <div class="col-lg-12">
                <div class="text-center margin-t-30">
                    <h2><span>Featured work</h2>
                </div>
            </div>
        </div>

        <div class="port portfolio-masonry m-b-30">
            <div class="portfolioContainer row"  id="lightgal">
                {% set entries = craft.entries({
                section:'gallery',
                    with:['image'],
                relatedTo: [category]
                }).limit('3').all()
                %}
                {#{% set entries = craft.entries()#}
                {#.section('gallery')#}
                {#.with(['image']).featureContent('1')#}
                {#.all() %}#}

                {% for entry in entries %}
                    {% set image = entry.image[0] ?? null %}
                    {% if image %}
                        {% set thumb = {
                        mode: 'crop',
                        width: 350,
                            height:350,
                        quality: 85
                        } %}

                        {% set tags = entry.MediumUsed %}
                    <div class="col-lg-4 natural {{ entry.category.one().slug }}">
                        {#<a href="work-detail.html">#}
                            <div class="portfolio-box">
                                <div class="portfolio-box-img" data-src="{{ image.getUrl() }}">
                                    {# Get the eager-loaded asset, if there is one #}

                                        {#<img src="{{ image.url }}" class="img-fluid" alt="member-image">#}
                                        <img class="img-fluid" alt="{{ entry.title }} - {% for tag in tags.all() %}{{ tag }}{% endfor %} - width: {{ entry.width }}cm, height: {{ entry.height }}cm" title="{{ entry.title }}"
                                             src="{{ image.getUrl(thumb) }}">

                                    {% endif %}
                                </div>
                                <div class="portfolio-box-detail">
                                    <h4>{{ entry.title }}</h4>
                                    <div class="d-flex align-items-center">

                                        <p class="align-self-center mdi mdi-24px mdi-palette"></p>
                                        {% for tag in tags.all() %}
                                            <p class="px-1">{{ tag }}</p>
                                        {% endfor %}
                                            <p class="ml-3 justify-content-end mdi mdi-24px mdi-image-multiple mr-1"></p>
                                            <p class="justify-content-end"> w: {{ entry.width }}cm  h: {{ entry.height }}cm</p>
                                        </div>


                                </div>
                            </div>
                        {#</a>#}
                    </div>
                {% endfor %}

            </div><!-- end portfoliocontainer-->


        </div> <!-- End row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center margin-t-30">
                    <a href="{{ baseUrl }}/gallery" class="btn btn-dark btn-rounded">More works</a>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</section>

{% endblock %}
